@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700);

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Source Sans Pro', sans-serif;
    background: #F9F9F9;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #F9F9F9;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 30px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.navbar {
    line-height: 70px;
    height: 110px;
    padding-top: 0;
    background-color: #F9F9F9;
    border:0;
}

.navbar > .container {
width:98%;
}

.footer {
height: 100px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/* Custom Button Styles */

.btn {
    border-radius: 0;
    padding: 12px 12px;
}

.text-muted {
margin:0;
padding:0;
}

.input-group {
    border-radius: 0;
}

.form-control {
    border-radius: 0;
}

h1 {
font-size:40px;
font-weight:700;
color:#cd040b;
}


#beta {
color:#4cae4c;font-size:20px;font-weight:700;
}

#beta2 {
color:#4cae4c;font-size:13px;font-weight:700;
}

.page-header {
border:0;
margin-bottom:30px;
margin-top:0px;
}


.mb20 { margin-bottom: 20px; }

hgroup { padding-left: 15px; border-bottom: 1px solid #eee; }
hgroup h1 { font: 500 normal 1.625em 'Lato', sans-serif; color: #2a3644; margin-top: 0; line-height: 1.15; }
hgroup h2.lead { font: normal normal 1.125em 'Lato', sans-serif; color: #2a3644; margin: 0; padding-bottom: 10px; }

.search-result .thumbnail { border-radius: 0 !important; }
.search-result:first-child { margin-top: 0 !important; }
.search-result { margin-top: 20px; }
.search-result .col-md-2 { border-right: 1px dotted #ccc; min-height: 140px; }
.search-result ul { padding-left: 0 !important; list-style: none;  }
.search-result ul li { font: 400 normal .85em 'Lato', sans-serif;  line-height: 30px; }
.search-result ul li i { padding-right: 5px; }
.search-result .col-md-7 { position: relative; }
.search-result h3 { font: 500 normal 1.375em 'Lato', sans-serif; margin-top: 0 !important;  }
.search-result h3 > a, .search-result i { color: #248dc1 !important; }
.search-result h4 { font: 300 normal 1em 'Lato', sans-serif; margin-top: 0 !important; }
.search-result h4 > a, .search-result i { color: #4cae4c !important; }
.search-result p { font: normal normal 1.125em 'Lato', sans-serif; }
.search-result span.plus { position: absolute; right: 0; top: 126px; }
.search-result span.plus a { background-color: #248dc1; padding: 5px 5px 3px 5px; }
.search-result span.plus a:hover { background-color: #414141; }
.search-result span.plus a i { color: #fff !important; }
.search-result span.border { display: block; width: 97%; margin: 0 15px; border-bottom: 1px dotted #ccc; }

h6 {
font-weight:900;font-size:40px; margin-bottom:30px;
}

h7 {
font-size:10px; color: #4cae4c;
}

h8 {
line-height:2.5em;font-size:14px;
}

